*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(135deg,rgb(53, 53, 160),white);
    padding:10px;
}
.to-do{
    width:100%;
    max-width: 540px;
    background: whitesmoke;
    margin: 100px auto 20px;
    padding:40px 30px 70px;
    border-radius: 10px;

}
.to-do h2{
    color: rgb(10, 68, 204);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 40px;
}
.to-do h2 img {
    width:50px;
    margin-left: 10px;

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}
input{
    flex:1;
    border:none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(108, 108, 218);
    color: black;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 40px;
    user-select: none  ;
    cursor: pointer;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
ul li::before{
    content: '';
    position:absolute;
    height: 28px;
    width:28px;
    border-radius: 50%;
    background-image: url(img/circle.jpg);
    background-size:cover;
    background-position:center;
    left: 1px;
    top: 50%; 
    transform: translateY(-50%);
}
ul li.checked{
    color: black;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(img/check.png);
}
ul li span{
    position: absolute;
    right: 0%;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: black;
    line-height: 20px;
    text-align: center;
    border-radius: 5%;
}
